<div class="container" id="bmg">
    <div id="mycarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-2">
                        <img src="../../assets/img/square.png" alt="Square" class="img-responsive">
                    </div>
                    <div class="col-xs-4 col-xs-offset-1">
                        <div>
                            <h1>Introducing</h1>
                            <h3>Something hot...</h3>
                            <button class="btn btn-success">Try demo</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-2">
                        <img src="../../assets/img/cat.jpg" alt="Cat" class="img-responsive">
                    </div>
                    <div class="col-xs-4 col-xs-offset-1">
                        <h1>Cat</h1>
                        <h3>is cool</h3>
                        <button class="btn btn-success">Try demo</button>
                    </div>
                </div>
            </div>
        </div>
        <a href="#mycarousel" class="left carousel-control" role="button" data-slide="prev" style="background-image: none;">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a href="#mycarousel" class="right carousel-control" role="button" data-slide="next" style="background-image: none;">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container">
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#tab1" data-toggle="tab"><img src="../assets/../assets/img/tab1.png" alt="Tab1"><p>Responsive Website</p></a></li>
        <li><a href="#tab2" data-toggle="tab"><img src="../../assets/img/tab2.png" alt="Tab2"><p>e Commerce Websites</p></a></li>
        <li><a href="#tab3" data-toggle="tab"><img src="../../assets/img/tab3.png" alt="Tab3"><p>Daily blog Websites</p></a></li>
        <li><a href="#tab4" data-toggle="tab"><img src="../../assets/img/tab4.png" alt="Tab4"><p>Seach based Websites</p></a></li>
    </ul>
    <div class="tab-content">
        <div id="tab1" class="tab-pane fade in active">
            <img src="../../assets/img/ipod.png" alt="ipod" class="img-responsive">
            <h1>Lorem Ipsum is simply dummy text</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div id="tab2" class="tab-pane fade">
            <img src="../../assets/img/oacc.jpg" alt="oacc" class="img-responsive">
            <h1>Lorem Ipsum is simply dummy text</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div id="tab3" class="tab-pane fade">
            <img src="../../assets/img/ipod.png" alt="ipod" class="img-responsive" style="align-content: center;">
            <h1>Lorem Ipsum is simply dummy text</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div id="tab4" class="tab-pane fade">
            <img src="../../assets/img/oacc.jpg" alt="oacc" class="img-responsive">
            <h1>Lorem Ipsum is simply dummy text</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="../../assets/img/browser.png" alt="browser" class="img-responsive">
        </div>
        <div class="col-sm-6">
            <ul>
                <h1>Why choose us?</h1>
                <li><p>Lorem Ipsum is simply dummy text of the printing and typesetting</p></li>
                <li><p>Lorem Ipsum has been the industry's standard dummy text ever</p></li>
                <li><p>When an unknown printer took a galley of type and scrambled</p></li>
                <li><p>It has survived not only five centuries, but also the leap into electronic</p></li>
                <li><p>It was popularised in the 1960s with the release of Letraset sheets containing</p></li>
                <li><p>More recently with desktop publishing software like Aldus PageMaker</p></li>
            </ul>
        </div>
    </div>
    <hr>
</div>
<div class="container" id="forms">
    <div class="row">
        <div class="col-lg-5 col-sm-12 col-xs-12 form1">
            <h3>Member Login</h3>
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control input-sm">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-sm">
                </div>
                <button type="button" class="btn btn-default btn-sm">Log me in.</button>
            </form>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-12 col-xs-12 form2">
            <h3>Subscribe to our weekly newsletter</h3>
            <form class="form-inline">
                <div class="form-group">
                    <input type="email" class="form-control input-sm">
                </div>
                <button type="button" class="btn btn-default btn-sm">Subscribe</button>
            </form>
        </div>
    </div>
    <hr>
</div>
<div class="container footer">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
            <h3>About Us</h3>
            <h5>About us</h5>
            <h5>Why us</h5>
            <h5>Customer Stories</h5>
            <h5>Press Resources</h5>
            <h5>Press Releases</h5>
            <h5>Contact us</h5>
        </div>
        <div class="col-sm-2">
            <h3>About Us</h3>
            <h5>About us</h5>
            <h5>Why us</h5>
            <h5>Customer Stories</h5>
            <h5>Press Resources</h5>
            <h5>Press Releases</h5>
            <h5>Contact us</h5>
        </div>
        <div class="col-sm-4">
            <h3>Testimoanials</h3>
            <h5>Lorem Ipsum is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industr
            standard dummy text ever since the 1500s, 
            when an unknown printer took a</h5>
            <h5>Lorem Ipsum is simply
            Owner, Lorem Ipsum</h5>
        </div>
        <div class="col-sm-3">
            <h1>LEO/-</h1>
            <h6>&copy;cssauthor.com</h6>
        </div>
    </div>
</div>